<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Liste des unités pour une planete</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/css/style.css">

    <!-- Custom styles for this template -->

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">EMPIRE GALACTIQUE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Connexion
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="view-planets.html">Planètes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="view-unities.html">Unités d'une planète</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="create-unity.html">Créer une unité</a>
              </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row" id="view-unities">

          <div class="col-md-12 text-center" >
              <h1 class="titlePage">Liste des unités</h1>
              <h3 class="selectPlanet">Sélectionner une planète</h3>
              <select v-model="selected.planet" class="select" @change="refresh()">
                  <option v-for="planet in planets" :value="planet" class="optionSelect">{{ planet.name }}</option>
              </select></br>
              <!--<button class="btn btn-success ReadUnities" @click="refresh()">Afficher les unités</button>-->


              <div class="col-lg-12 text-center">

          <table v-if="selected.planet">
            <thead>
            <tr>
              <th >type d'unités</th>
              <th>Nom de l'unité</th>
              <th >niveau</th>
              <th >taille</th>
              <th >points de vie</th>
              <th >Point d'attaque</th>
              <th >Construction</th>
              <th >Temps restant</th>
              <th >coût en fer</th>
              <th >coût en plutonium</th>
              <th >coût en or</th>
              <th >vitesse</th>
              <th >position</th>
              <th >destination</th>
              <th >temps de trajet</th>
              <th>En voyage</th>
            </tr>
            </thead>

            <tbody>

           <tr v-for="unity in unities">
              <td>{{ unity.type }}</td>
              <td>{{ unity.name}}</td>
              <td>{{ unity.level}}</td>
               <td>{{ unity.size}}</td>
              <td>{{ unity.health}}</td>
              <td>{{ unity.attack}}</td>
              <td>{{ unity.isBuilding}}</td>
              <td>{{ unity.productDelay}}</td>
              <td>{{ unity.ironCost}} </td>
              <td>{{ unity.plutoniumCost}}</td>
              <td>{{ unity.goldCost }}</td>
              <td>{{ unity.speed }}</td>
              <td>{{ unity.position }}</td>
              <td>{{ unity.goPlanet }}, {{unities.idPlanet}}</td>
              <td>{{ unity.departureTime }}</td>
              <td>{{ unity.isTravelling }}</td>
            </tr>
            </tbody>
          </table>

          </div>

      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="vendor/vue/vue.js"></script>
    <script src="vendor/axios/axios.js"></script>
    <script src="js/dao/planets-dao.js"></script>
    <script src="js/dao/unities-dao.js"></script>
    <script src="js/components/view-unities.js"></script>

  </body>

</html>
