body {

    background: white;
}
body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
table {
    width: 100%;
}

td, th {
    padding: 10px 20px;
    text-align: left;
    border: 1px solid #ccc;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1500px !important;
    }
}

/* =====================================================
======================= Commun aux pages===============
 ======================================================*/
.select{
    width: 45%;
    border-radius: 8px;
    padding: 10px 10px;
    border: solid 1px;
    background-color: #276E6E;
    color: white;
    margin-bottom: 2%;
}

.select:hover{
    background-color: #6A0606;
}
/* =====================================================
======================= PAGE CREATE UNITY===============
 ======================================================*/

.selectPlanet{
    margin: 2% 2%;
}



/* =====================================================
======================= PAGE CREATE UNITY===============
 ======================================================*/
.titlePage{
    margin: 3% 3%;
    text-align: center;
    color:#03414F;
}



.reponseCalcul{
    text-align: center;
    margin-top: 2%;
}
.error {
    font-size: xx-large;
    color: #c00;
    text-align: center;
    margin-bottom: 2%;
}

.optionSelect:hover{
    background-color: #6A0606;
}

.createUnity{
    padding: 0px 0px 0px 25px !important;
    text-align: center;
}

.titreDiff{

}

.contenuCreate{
padding-left: 10% !important;
}

.btnCreate {
    background-color: #276E6E;
    color: white;
    border: solid 1px #062c33;
    padding: 10px 70px;
}

.btnCreate:hover {
    background-color: #6A0606;
}

.ReadUnities {
    background-color: #276E6E;
    color: white;
    border: solid 1px #062c33;
    padding: 10px 70px;
}

.ReadUnities:hover{
    background-color: #6A0606;
}

.btn{
    margin: 2% 2%;
    padding: 1% 2%;
    background-color: #03414F;
    border: solid 1px #0c5460;
}